.b-header {
    display: flex;
    align-items: center;
}

.Header-burger {
    display: none;
}

.Header-mobileMenu {
    transition: 0.4s ease-in-out transform;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    transform: translateX(100%);
}

.Header-mobileMenu.is-open {
    transform: translateX(0);
}

.Header-mobileMenu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #f7f7f7;
}

.Header-mobileMenu-logo {
    padding-left: 20px;
}

.Header-mobileMenu-close {
    padding-right: 20px;
}

.Header-mobileMenu-close img {
    width: 15px;
    height: 15px;
}

.Header-mobileMenu-navigation {
    margin-top: 20px;
}

@media screen and (max-width: 669px) {
    .b-header {
        justify-content: space-between;
    }

    .Header-navigation {
        display: none;
    }

    .Header-burger {
        display: block;
    }
}
